# notice: This is an example environment configuration file.
# Copy this file to "env" and fill in the appropriate values.
# replace <LLM_MODEL>, <LLM_BASE_URL>, <LLM_API_KEY> accordingly.

LLM_MODEL=<type your model name here>

LLM_BASE_URL=<type your base url here>

LLM_API_KEY=<type your api key here>